@import "tailwindcss";

:root {
  --background: #08151f;
  --primary: #84e5c8;
  --secondary: #254c8b;
  --tertiary: #7bb581;
  --text: #e7f8de;
}

@theme inline {
  --color-background: #08151f;
  --color-primary: #84e5c8;
  --color-secondary: #254c8b;
  --color-tertiary: #7bb581;
  --color-text: #e7f8de;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behaviour: smooth;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@layer utilities {
  @keyframes wave {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-20deg);
    }
  }
}
